# Introduction to Requests: Types, Responses, Use Cases


It is very often useful to be able to communicate between computers and services in our code

To do this, we use requests!

HTTP requests are used by one piece of code to get or send along pieces of information from another service or computer.

## HTTP

Early on in the semester, we covered some of the basics of HTTP.

It is a request/response system that allows a client to send requests to a server and get a response using a TCP handshake for verification.

One example here is a web browser. Every time that you visit a website, you send a request to the server of that site and recieve an HTML page as a response, which your browser renders

## Python Requests Library


Today, we'll be covering the python requests library, which can be installed with 'pip install requests' in the command line and then the following import statement in your code:

In [2]:
import requests

The requests library will allow us to send HTTP requests to other servers or services and yielding a python object that contains a response code, a header, and a body

## Request Methods

- GET:
    - Used to grab data from a website or service
    - This is what browsers use to access a website
    - You can also pass some key-value pairs for authentication and other arguments (google searches use a get request)
    - The following is an example of a get request to google.com (we get a resposne with status code 200, meaning that we successfully connected to the server)
    - If you were to print r.text here, you would get a large string of HTML

In [4]:
r = requests.get('https://www.google.com')

- POST
    - Used to send a collection of data to a site or service
    - We pass in a dictionary to the function call to send this data with our request
    - POST requests are often used by websites to send form data that the user inputs to the server to be processed.
    - The following is an example of a POST request to a demo URL passing in a dictionary

In [14]:
url = 'https://www.w3schools.com/python/demopage.php'
myobj = {'somekey': 'somevalue'}

x = requests.post(url, json = myobj)
x

200

- Other request methods supported by the Requests module (less common methods):
    - DELETE:
        - Used to send a request that indicates deletion of something on the server
    - PATCH:
        - A set of instructions to modify the server
    - HEAD:
        - Requests just the headers of a response to a get request from the server
    - PUT:
        - Replace a target resource with payload

- Request methods not supported by the requests module
    - CONNECT:
        - Establish a two-way connection stream between server and client
    - OPTIONS:
        - Requests the allowed options for connection to a server
    - TRACE:
        - Traces the forwarding involved in a request

## Response Codes


- 100 -199
    - These status codes provide information about the request. Often, this means that the server is still loading or doing some sort of internal work
- 200 - 299
    - A 200 status code means that the request was successful (the server exists and the provided inputs are sufficient)
    - The other codes in this range mean that the request was successfully sent, but they often indicate other important pieces of information about the response
- 300 - 399
    - These are various redirection codes. They indicate that the user is being directed away from the server initially requested
- 400 - 499
    - These are unsuccessful requests, the most common of which are:
        - 400: Bad request, meaning the request format is not correct
        - 401: Unauthorized, client is not authorized to make this request
        - 404: Not Found, the requested resource cannot be found
- 500 - 599
    - 500 indicates an internal server error
    - The rest of these mean that something is going wrong in the server

If you are looking for an exhaustive list of the status codes which I have not listed here, you can find it on https://developer.mozilla.org/en-US/docs/Web/HTTP/Status

You can see the status code of a request response in python by accessing the status_code property of the response as follows:

In [15]:
url = 'https://www.w3schools.com/python/demopage.php'
myobj = {'somekey': 'somevalue'}

x = requests.post(url, json = myobj)
x.status_code

200

## When might we use requests?

There are various reasons that we might want to send requests in our python code.

Programmatically accessing resources on the internet can be very valuable!

#### Webscraping

Suppose that there is a website, or list of websites, which has a dataset or datasets that we are interested in downloading

We could certainly manually visit each site and copy the values into CSV files, but the requests library would provide us with a much quicker solution which we could run periodically to automatically update our dataset

In the following code, we grab the data file from https://dasl.datadescription.com/download/data/3176 and save it to outfile.csv

In [27]:
r = requests.get('https://dasl.datadescription.com/download/data/3176')


with open('outfile.csv', 'w', encoding="utf-8") as f:
    f.write(r.text)

In some cases, the data we want might not be available for download from the website, so we can use tools like BeautifulSoup4 to grab the HTML and then parse through the HTML to isolate the data that we are interested in. Tools like these will use complex regex or lxml to provide us with tools that make it easy to parse html and grab specific peices of data.

Suppose that we want to pull the table from https://www.worldometers.info/coronavirus/ to get the coronavirus cases per country and save it in a csv file locally. We can use the beautifulShoup library alongside the requests library to isolate the table, then pass it into a pandas dataframe and save it!

In [43]:
from bs4 import BeautifulSoup
import pandas as pd


# Send the request to get the raw HTML data
url = 'https://www.worldometers.info/coronavirus/'
res = requests.get(url)

# parser-lxml = Change HTML to Python friendly format
# Obtain page's information
soup = BeautifulSoup(res.text, 'lxml')

By inspecting the table on the page, we can find the id of the table that we are interested in is 'main_table_countries_today'. Using this id, we can use the BeautifulSoup find method to isolate the content of the table.

In [44]:
# isolate the table data
table = soup.find('table', id='main_table_countries_today')
table

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">TotÂ Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>119,185,579</td>
<td>+47,497</td>
<td>1,564,392</td>
<td>+206</td>
<td>114,616,529</td>
<td>+34,343</td>
<td>3,004,658</td>
<td>8,365</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>199,231,459</td>
<td>+250,199</td>
<td>1,498,223</td>
<td>+413</td>
<td>190,465,386</td>
<td>+104,488</td>
<td>7,267,850</td>
<td>9,509</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>238,536,220</td>
<td>+91,733</td>
<td>1,961,163</td>
<td>+217</td>
<td>232,808,960</td>
<td>+109,245</td>
<td>3,766,097</td>
<td>7,624</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>65,136,665</td>
<td>+41,562</td>
<td>1,335,850</td>
<td>+141</td>
<td>63,186,596</td>
<td>+4,349</td>
<td>614,219</td>
<td>10,168</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>12,998,617</td>
<td>+4,705</td>
<td>22,239</td>
<td>+5</td>
<td>12,761,458</td>
<td>+4</td>
<td>214,920</td>
<td>143</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,709,355</td>
<td>+1,218</td>
<td>258,080</td>
<td>+1</td>
<td>12,018,387</td>
<td>+412</td>
<td>432,888</td>
<td>843</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>647,798,616</td>
<td>+436,914</td>
<td>6,639,962</td>
<td>+983</td>
<td>625,858,022</td>
<td>+252,841</td>
<td>15,300,632</td>
<td>36,652</td>
<td>83,107</td>
<td>851.8</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">100,595,658</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+39,208</td>
<td style="font-weight: bold; text-align:right;">1,105,486                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+176</td>
<td style="font-weight: bold; text-align:right">98,106,458</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+27,076</td>
<td style="text-align:right;font-weight:bold;">1,383,714</td>
<td style="font-weight: bold; text-align:right">3,182</td>
<td style="font-weight: bold; text-align:right">300,460</td>
<td style="font-weight: bold; text-align:right">3,302</td>
<td style="font-weight: bold; text-align:right">1,139,968,188</td>
<td style="font-weight: bold; text-align:right">3,404,869</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>303</td><td>0</td>
<td style="font-weight: bold; text-align:right">117</td>
<td style="font-weight: bold; text-align:right">0.5</td>
<td style="font-weight: bold; text-align:right">4,133</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">44,673,379</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">530,620                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">44,136,872</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">5,887</td>
<td style="font-weight: bold; text-align:right">698</td>
<td style="font-weight: bold; text-align:right">31,759</td>
<td style="font-weight: bold; text-align:right">377</td>
<td style="font-weight: bold; text-align:right">906,216,019</td>
<td style="font-weight: bold; text-align:right">644,245</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,651</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">37,846,799</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+68,382</td>
<td style="font-weight: bold; text-align:right;">158,950                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+91</td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">36,909,229</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+26,980</td>
<td style="text-align:right;font-weight:bold;">778,620</td>
<td style="font-weight: bold; text-align:right">869</td>
<td style="font-weight: bold; text-align:right">577,069</td>
<td style="font-weight: bold; text-align:right">2,424</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>413</td><td>0</td>
<td style="font-weight: bold; text-align:right">1,043</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">11,872</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">36,463,485</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">157,791                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">35,784,300</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+48,300</td>
<td style="text-align:right;font-weight:bold;">521,394</td>
<td style="font-weight: bold; text-align:right">1,406</td>
<td style="font-weight: bold; text-align:right">434,691</td>
<td style="font-weight: bold; text-align:right">1,881</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>532</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">6,216</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">35,304,715</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+36,460</td>
<td style="font-weight: bold; text-align:right;">689,853                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+136</td>
<td style="font-weight: bold; text-align:right">34,235,867</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">378,995</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">163,938</td>
<td style="font-weight: bold; text-align:right">3,203</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>312</td><td>3</td>
<td style="font-weight: bold; text-align:right">169</td>
<td style="font-weight: bold; text-align:right">0.6</td>
<td style="font-weight: bold; text-align:right">1,760</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">27,098,734</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+67,415</td>
<td style="font-weight: bold; text-align:right;">30,506                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+52</td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">26,115,310</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+54,184</td>
<td style="text-align:right;font-weight:bold;">952,918</td>
<td style="font-weight: bold; text-align:right">472</td>
<td style="font-weight: bold; text-align:right">527,933</td>
<td style="font-weight: bold; text-align:right">594</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>1,683</td><td>3</td>
<td style="font-weight: bold; text-align:right">1,313</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">18,565</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">24,793,166</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+138,396</td>
<td style="font-weight: bold; text-align:right;">49,644                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+210</td>
<td style="font-weight: bold; text-align:right">20,699,537</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4,873</td>
<td style="text-align:right;font-weight:bold;">4,043,985</td>
<td style="font-weight: bold; text-align:right">342</td>
<td style="font-weight: bold; text-align:right">197,422</td>
<td style="font-weight: bold; text-align:right">395</td>
<td style="font-weight: bold; text-align:right">81,441,509</td>
<td style="font-weight: bold; text-align:right">648,498</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>5</td><td>2,530</td><td>2</td>
<td style="font-weight: bold; text-align:right">1,102</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">32,201</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">24,260,660</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">181,098                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">23,587,105</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">492,457</td>
<td style="font-weight: bold; text-align:right">250</td>
<td style="font-weight: bold; text-align:right">402,581</td>
<td style="font-weight: bold; text-align:right">3,005</td>
<td style="font-weight: bold; text-align:right">257,057,363</td>
<td style="font-weight: bold; text-align:right">4,265,608</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>333</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">8,172</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,000,101</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">196,821                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">23,738,087</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4,000</td>
<td style="text-align:right;font-weight:bold;">65,193</td>
<td style="font-weight: bold; text-align:right">146</td>
<td style="font-weight: bold; text-align:right">350,377</td>
<td style="font-weight: bold; text-align:right">2,873</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>348</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">952</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">21,590,828</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,088</td>
<td style="font-weight: bold; text-align:right;">392,002                                </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+59</td>
<td style="font-weight: bold; text-align:right">20,997,710</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+5,557</td>
<td style="text-align:right;font-weight:bold;">201,116</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">148,079</td>
<td style="font-weight: bold; text-align:right">2,689</td>

Clearly, we have now found the table by itself. Now we can get the column names by finding all of the 'th' elements in the table. The find_all method will get all of the elements in the table with the provided tag.

In [48]:
# Obtain every title of columns with tag <th>
headers = []
for i in table.find_all('th'):
    title = i.text.replace('\n', '').replace('\xa0', 'al') # Some replcements of characters we do not want in our data
    headers.append(title)
headers

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'TotalCases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl',
 'New Cases/1M pop',
 'New Deaths/1M pop',
 'Active Cases/1M pop']

Now let's create a pandas dataframe to store all of our data once we start getting the rows of the table!

In [54]:
# Create a dataframe
df = pd.DataFrame(columns = headers)

Finally, it's time to get each of the rows of the table and populate our dataframe. First we find all of the "tr" tags (correspond to the rows), then each element in the row is a "td". We get all of these and add them row by row to the DataFrame.

In [56]:
length = len(df)
# Create a for loop to fill mydata
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text.replace('\n', '') for i in row_data]
    df.loc[length] = row
    length += 1

print(df)

    #   Country,Other   TotalCases  NewCases TotalDeaths NewDeaths  \
0       North America  119,185,579   +47,497   1,564,392      +206
1                Asia  199,231,459  +250,199   1,498,223      +413
2              Europe  238,536,220   +91,733   1,961,163      +217
3       South America   65,136,665   +41,562   1,335,850      +141
4             Oceania   12,998,617    +4,705      22,239        +5
..  ..            ...          ...       ...         ...       ...
487            Total:   65,136,665   +41,562   1,335,850      +141
488            Total:   12,998,617    +4,705      22,239        +5
489            Total:   12,709,355    +1,218     258,080        +1
490            Total:          721                    15
491            Total:  647,798,616  +436,914   6,639,962      +983

    TotalRecovered NewRecovered ActiveCases Serious,Critical  ... TotalTests  \
0      114,616,529      +34,343   3,004,658            8,365  ...
1      190,465,386     +104,488   7,267,850            9,509  ...
2      232,808,960     +109,245   3,766,097            7,624  ...
3       63,186,596       +4,349     614,219           10,168  ...
4       12,761,458           +4     214,920              143  ...
..             ...          ...         ...              ...  ...        ...
487     63,186,596       +4,349     614,219           10,168  ...
488     12,761,458           +4     214,920              143  ...
489     12,018,387         +412     432,888              843  ...
490            706                        0                0  ...
491    625,858,022     +252,841  15,300,632           36,652  ...

    Tests/1M pop Population          Continent 1 Caseevery X ppl  \
0                                North America
1                                         Asia
2                                       Europe
3                                South America
4                            Australia/Oceania
..           ...        ...                ...               ...
487                              South America
488                          Australia/Oceania
489                                     Africa
490
491                                        All

    1 Deathevery X ppl 1 Testevery X ppl New Cases/1M pop New Deaths/1M pop  \
0
1
2
3
4
..                 ...               ...              ...               ...
487
488
489
490
491

    Active Cases/1M pop
0
1
2
3
4
..                  ...
487
488
489
490
491

[492 rows x 22 columns]

Now we have all of our data in a pandas dataframe, and we know how to work with that! If you want to read more about BeautifulSoup and its usecases, you can check out the documentation here: https://beautiful-soup-4.readthedocs.io/en/latest/

Exercise if you would like to try it: Get the GDP of each country from the table on this Wikipedia page https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita
Save it into a pandas dataframe using the method above!

In [57]:
# Solution!

### Requesting data from APIs on the internet

There are many resources on the internet which are designed to be accessed programmatically. The use cases of these services varies from providing small amounts of data to running complex functions that have been implemented by the service on your inputs.

Let's explore a very simple use case. The https://catfact.ninja/fact website will provide the user with a fact about cats on each call. We can use the python requests module to get an example of one as follows:

In [37]:
r = requests.get('https://catfact.ninja/fact')

print(r.text)

{'fact': 'Cats can predict earthquakes. We humans are not 100% sure how they do it. There are several different theories.', 'length': 111}

This clearly looks just like a dictionary, so we can use the response.json() method to cast the text into a dictionary, then access the fact itself.

In [39]:
r = requests.get('https://catfact.ninja/fact')

print(r.json())

print(r.json()['fact'])

{'fact': 'Many Egyptians worshipped the goddess Bast, who had a womanâs body and a catâs head.', 'length': 84}
Many Egyptians worshipped the goddess Bast, who had a womanâs body and a catâs head.

As an exercise, use a for loop to print 10 cat facts from the API:

In [ ]:
### Write code here

Let's check out another example. This api will predict your age based on the name that you provide it. We will have to provide a key-value pair along with this get request so that it knows what name to use

In [64]:
r = requests.get('https://api.agify.io', params = {'name': 'Alex'})
r.json()

{'age': 45, 'count': 411442, 'name': 'Alex'}

We can also take a look at the Wikipedia API for something a little bit larger. Here, we are going to request the stock trades of members of the US Congress from this free AWS API https://house-stock-watcher-data.s3-us-west-2.amazonaws.com/data/all_transactions.json

We can then save this data into a pandas dataframe and export it to a csv file pretty easily!

In [65]:
res = requests.get('https://house-stock-watcher-data.s3-us-west-2.amazonaws.com/data/all_transactions.json')

d = res.json()

df = pd.DataFrame(d)

df.head()

,disclosure_year,disclosure_date,transaction_date,owner,ticker,asset_description,type,amount,representative,district,ptr_link,cap_gains_over_200_usd
0,2021,10/04/2021,2021-09-27,joint,BP,BP plc,purchase,"$1,001 - $15,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
1,2021,10/04/2021,2021-09-13,joint,XOM,Exxon Mobil Corporation,purchase,"$1,001 - $15,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
2,2021,10/04/2021,2021-09-10,joint,ILPT,Industrial Logistics Properties Trust - Common...,purchase,"$15,001 - $50,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
3,2021,10/04/2021,2021-09-28,joint,PM,Phillip Morris International Inc,purchase,"$15,001 - $50,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
4,2021,10/04/2021,2021-09-17,self,BLK,BlackRock Inc,sale_partial,"$1,001 - $15,000",Hon. Alan S. Lowenthal,CA47,https://disclosures-clerk.house.gov/public_dis...,False

### Attacking a website

I'm not saying that you should do this, but using some multithreading and an infinite loop with the requests module, you could try running a Denial of Service attack on smaller websites by sending a significant number of concurrent reqeusts to a site to the point that the site is so busy processing these requests that it cannot handle any other user traffic.

Most big websites will have protection against these kinds of things that make it very difficult to actually take down their site, but the idea here is that sending requests with python can be very powerful

### Exercises!

1. Use the condesk API at https://api.coindesk.com/v1/bpi/currentprice.json to get the current price of bitcoin!

In [41]:
### Code for exercise 1

2. Get the HTML from https://www.oberlin.edu/ and store it in a file locally

In [ ]:
### Code for exercise 2

3. Use the api at https://dog.ceo/api/breeds/image/random to get the url for an image of a dog, then send a get request to the url and save the image locally

In [ ]:
### Code for exercise 3